body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

.movie-rating {
  color: #3e1010;
  text-align: center; /* Center text alignment */
}

.list-movies-title {
  padding: 10px 0;
  background: #009B50;
  color: white;
  text-align: center; /* Center the title */
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: center; /* Center the grid */
}

.movie-grid li {
  padding: 15px; /* Space around each movie item */
  text-align: center; /* Center text alignment for each movie item */
  flex: 0 0 150px; /* Set a base width for each movie item */
}

.movie-title,
.movie-year {
  font-size: 0.8em;
}

.movie-year {
  color: #3e1010;
}

/* Updated styles for the movie poster */
.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 128px; /* Fixed width for posters */
  height: 193px; /* Fixed height for posters */
  display: block; /* Ensures the poster behaves like a block element */
  margin: 0 auto; /* Centers the poster */
}

/* New line between poster and text elements */
.movie-info {
  margin-top: 10px; /* Space between poster and title/year */
}

.movie-info p {
  margin: 5px 0; /* Add margin to paragraph elements for space */
}
